:root {
  --bg-color: #101414;
  --hover-bg-color: rgb(18, 13, 31);
  --text-color: #e0e0e0;
  --primary-color: #0f3460;
  --secondary-color: #101414;
  --accent-color: rgb(75, 46, 151);
  --neon-blue: #4d9de0;
  --neon-pink: #ff2e63;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--secondary-color);
  position: sticky;
  height: 10%;
  width: 100vw;
  top: 0;
  z-index: 1000;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.left-sidebar {
  background-color: var(--secondary-color);
  padding: 1rem;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 1rem;
  flex: 1;
  overflow: hidden;
}

.posts {
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.content::-webkit-scrollbar {
  display: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--accent-color);
  margin-left: 20px;
}

.search-bar {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 500px;
}

.search-bar input {
  line-height: 28px;
  padding: 0 1rem;
  transition: .3s ease;
  padding: 0.5rem;
  width: 500px;
  height: 20px;
  border: 2px solid;
  border-radius: 20px;
  background-color: rgba(33, 33, 33, 0.294);
  color: var(--text-color);
  padding-left: 40px;

}


.search-bar .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;

}

.search-bar input:focus {
  color: rgb(255, 255, 255);
  background-color: #212121;
  outline-color: rgb(255, 255, 255);
  box-shadow: -3px -3px 15px rgb(255, 255, 255);
  transition: .1s;
  transition-property: box-shadow;

}





.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-button {
  padding: 0.5rem;
}


.noti-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
}

.nav-right-btn {
  background: none;
  color: var(--text-color);
  border: 2px solid;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.nav-right-btn:hover {
  background: white;
  color: black;
  border: 2px solid;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login {
  background-color: white;
  color: black;
  border: 2px solid white;
}

.login:hover {
  background-color: var(--accent-color);
  color: white;
  border: 2px solid white;
  transition: 0.3s ease;
}



main {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1rem;
  padding: 0 1rem 0 1rem;
}

.left-sidebar {
  border-right: 1px solid gray;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.left-sidebar,
.right-sidebar {
  background-color: var(--secondary-color);

}

.left-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.left-sidebar h2 {
  padding: 7px 0;
  font-size: 13px;
}

.left-sidebar-header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-bottom: 1px solid gray;
}

.left-sidebar li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.left-sidebar-game-community {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 10px;
}

.left-sidebar-game-community img {
  display: block;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid var(--text-color);
}

.left-sidebar-game-community span {
  font-size: 15px;
}

.content {
  background-color: var(--bg-color);
  border-radius: 10px;
}

/* Tabs and Tags */
/* .tabs {
  display: flex;
  margin-bottom: 1rem;
}

.tab {
  background: none;
  border: none;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
 
}


.tab.active {
  border-bottom-color: var(--accent-color); 
  transition: 1ms ease;
  border-bottom: 2px solid var(--accent-color);
} */

.tabs {
  display: flex;
  gap: 10px;
}

.tab {
  position: relative;
  padding: 10px 20px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: var(--text-color);
  margin-bottom: 10px;
}

.tab::after {


  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--accent-color);
  transition: width 0.3s ease-in-out;
}

.tab:hover::after,
.tab.active::after {
  width: 100%;
}


.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid gray;
}

.tag {
  background-color: transparent;
  color: var(--text-color);
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.tag:hover {
  outline-color: var(--accent-color);
  box-shadow: -3px -3px 15px var(--accent-color);
  transition: .1s;
  transition-property: box-shadow;
}


.post {
  border-bottom: 1px solid var(--accent-color);
}

.post-content-container {
  background-color: var(--bg-color);
  margin: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-content-container:hover {
  background-color: var(--hover-bg-color);
}

.post-content-container .media-container {
  aspect-ratio: 16, 9;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-content-container .media-container img {
  aspect-ratio: 16, 9;
  width: 700px;
  object-fit: cover;
}

.post-detail-content-container {
  overflow-y: auto;
  scrollbar-width: none;
  background-color: var(--bg-color);
  height: 100%;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.post-detail {
  height: 100%;
}

.post-detail-content-container .media-container {
  aspect-ratio: 16, 9;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-detail-content-container .media-container img {
  aspect-ratio: 16, 9;
  width: 700px;
  object-fit: cover;
}

.post h3 {
  margin-top: 0;
  color: var(--text-color);
}

.post-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: var(--text-color);
  opacity: 0.7;
}

.right-sidebar h2 {
  color: var(--neon-pink);
  margin-top: 0;
}

.comments {
  margin-top: 1rem;
}

.comment-container {
  background-color: var(--accent-color);
}

.comment-content {
  border: 1px solid var(--accent-color);
  margin-bottom: 10px;
  padding-left: 15px;
  padding-top: 5px;
  border-radius: 15px;
}

.comment-content h3 {
  font-size: 15px;
  color: gray;
}

.comment-content p {
  font-size: 18px;
}

.comment {
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.comment p {
  margin: 0 0 0.5rem 0;
}

.comment span {
  font-size: 0.8rem;
  opacity: 0.7;
}

.auth-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 10px;
  width: 300px;
}

.auth-container h2 {
  text-align: center;
  color: var(--accent-color);
}

.auth-container form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.auth-.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container input {
  padding: 0.5rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.auth-container button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input+span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #00bfff;
}

.submit:hover {
  background-color: #00bfff96;
}

.comment-bar {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.comment-bar input {
  line-height: 28px;
  padding: 0 1rem;
  transition: .3s ease;
  padding: 0.5rem;
  width: 500px;
  height: 20px;
  border: 2px solid;
  border-radius: 20px;
  background-color: rgba(33, 33, 33, 0.294);
  color: var(--text-color);
  padding-left: 40px;
  width: 100%;
}


.comment-bar .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;

}

.comment-bar input:focus {
  color: rgb(255, 255, 255);
  background-color: #212121;
  outline-color: rgb(255, 255, 255);
  box-shadow: -3px -3px 15px rgb(255, 255, 255);
  transition: .1s;
  transition-property: box-shadow;

}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }

  .left-sidebar,
  .right-sidebar {
    display: none;
  }

  .search-bar input {
    width: 150px;
  }
}